<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.garrulous.garrulous">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GarrulousActivity"
            android:label="@string/title_activity_garrulous"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.ViewProfileActivity" />
        <activity
            android:name=".Activities.EditProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
        />
        <activity
            android:name=".RequestActivity"
            android:label="@string/title_activity_request"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MessagesActivity"
            android:label="@string/title_activity_messages"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="xyz.garrulous.garrulous.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.FindUserActivity"
            android:label="@string/title_activity_find_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.MessageThreadActivity"></activity>
    </application>

</manifest>
